body {
  margin: 0;
  font-family:'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topButtons
{
  text-decoration: none;
  color: rgb(128,0,0);
  margin: 15px;
  font-size: 20px;
}

#topButtonsHolder
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 30px;
}

.isInteractive
{
  cursor: pointer;
  pointer-events: all !important;

  transition-duration: 200ms;
}
.isInteractive:hover
{
  transform: scale(1.04);
}
.isInteractive:active
{
  transform: scale(0.98);
  transition-duration: 20ms;
}
.glitch
{
 text-shadow: 2px -2px #e709e7, -0.5px 0.5px #02fcff; 
}
